<html>
<head>
  <title>ExplorViz testing</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</head>
<body>
  <div style="margin:0px;">
    <nav class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <a class="navbar-brand" href="/">ExplorViz</a>
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/gitinfo">Gitinfo</a>
      </li>
    </ul>
  </div>
</nav>
    <div class="container"  style="padding:40px;">
        <h1>Git Test</h1>
        <p>This is a test website to test the git api.</p>
        <button id="getGitRepoButton">TEST</button>
    </div>
  </div>
</body>
<script src='javascript/client.js'></script>
</html>