<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <title>ExplorViz testing</title>
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <!-- navbar -->
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/"> ExplorViz Builder</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="/">Home</a></li>
          <li class="active"><a href="/config">Config</a></li>
          <li><a href="/confirmation">Confirmation</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container theme-showcase" role="main" style="margin-top:25px">
    
    <div class="page-header">
      <h1>Extensions</h1>
    </div>
         
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <div id="fe-column">
            <h4>Frontend Extensions</h4> 
          </div>
          <div id="be-column">
            <h4>Backend Extensions</h4> 
          </div>
        </div>
        <div class="col-md-5">
          <a id="contButton" class="btn btn-s btn-danger">Continue <span class="glyphicon glyphicon-menu-right"></span></a>
          <div id="info-box" class="panel panel-info" style="margin-top:10px">
              <div id="info-box-heading" class="panel-heading">
                <h2 class="panel-title"><b>Selected extension</b></h2>
              </div>
              <div id="info-box-body" class="panel-body" id="extensions-panel" >
              </div>
            </div>
            <h3>Current build:</h3>
            <div id="currentBuildList" class="list-group">
            </div>
            <button id="removeButton" type="button" class="btn btn-s btn-default">Remove</button>
        </div>
      </div>
    </div>
  </div>

</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src='js/config.js'></script>
<script>loadConfig();</script>
</html>