<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <title>ExplorViz Configurator</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <nav class="navbar navbar-light">
      <div class="navbar-header">
        <a class="navbar-left" href="/"> 
          <img src="/img/logo.png">
        </a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="/">Home</a></li>
          <li class="active"><a href="/config">Configurator</a></li>
          <li><a href="/imprint">Imprint</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </div>
  </nav>
  <div class="container main-container" role="main">
    <div class="container inner-container">
      <div class="header">
          <h1>Configure your ExplorViz build</h1>
      </div>
      <div class="row inner-row">
        <div class="col-md-4">
          <button id="dependenciesButton" type="button" class="btn btn-s btn-default">Add dependencies</button>
          <button id="continueButton" type="button" class="btn btn-s btn-danger">Continue <span class="glyphicon glyphicon-menu-right"></button>
          <div id="info-box" class="panel panel-info scrollable-list" style="margin-top:10px">
            <div id="info-box-heading" class="panel-heading">
              <h2 class="panel-title"><b>Selected extension</b></h2>
            </div>
            <div id="info-box-body" class="panel-body" id="extensions-panel" >
            </div>
          </div>
        </div>
        <div class="col-md-5 scrollable">
          <h4>Core</h4> 
            <div id="core-column">
            </div>
          <h4>Backend Extensions</h4> 
            <div id="be-column">
            </div>
          <h4>Frontend Extensions</h4> 
            <div id="fe-column">
            </div>
        </div>
        <div class="col-md-3">
          <div class="dropdown">
            <button class="btn btn-default btn-lg dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" style="width:100%">
              <span class="pull-left cut-text" id="selectorContent" style="width:90%">Predefined builds...</span>
              <span class="caret pull-right" style="margin-top:8px"></span>
            </button>
            <ul class="dropdown-menu" style="width:100%" id="buildSelector">
            </ul>
          </div>
          <h4 id="yourBuildTitle">Your build contains:</h4>
          <div class="scrollable-list" style="margin-top:5px">
            <ul id="currentBuildList" class="list-group">
            </ul>
          </div>
          <div class="alert alert-danger">
            <strong>Current build is invalid!</strong>
          </div>
          <button id="removeButton" type="button" class="btn btn-s btn-default invisible" style="margin-top:5px">Remove</button>
          <button id="removeAllButton" type="button" class="btn btn-s btn-default invisible" style="margin-top:5px">Clear</button>
        </div>
      </div>
    </div>
  </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src='js/configurator.js'></script>
</html>