<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <title>ExplorViz testing</title>
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"><link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <nav class="navbar">
      <div class="navbar-header">
        <a class="navbar-left" href="/"> 
          <img src="/img/logo.png">
        </a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="/">Home</a></li>
          <li><a href="/config">Configurator</a></li>
          <li><a href="/imprint">Imprint</a></li>
          <li class="active"><a href="/contact">Contact</a></li>
        </ul>
      </div>
  </nav>

  <div class="container main-container" role="main">
    <div class="container">
      <div class="col-md-8 col-md-offset-2">
        <div class="header">
          <h1>Contact</h1>
        </div>
        <div class="well">
          <p>This application is maintained by the <a href="http://www.se.informatik.uni-kiel.de/en" target="_blank">Software Engineering Group</a> of the
            Kiel University.</p>
          <p>Visit us at our <a href="https://www.explorviz.net/" target="_blank">homepage</a> or check out our <a href="https://github.com/ExplorViz" target="_blank">GitHub repository</a>.</p>
        </div>
      </div>
    </div>
  </div>
</body>
</html>