<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <title>ExplorViz build-service</title>
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
  
    <nav class="navbar">
      <div class="navbar-header">
        <a class="navbar-left" href="/"> 
          <img src="/img/logo.png">
        </a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/">Home</a></li>
          <li><a href="/config">Configurator</a></li>
          <li><a href="/imprint">Imprint</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </div>
    </nav>

  <div class="container main-container" role="main">

    <div class="container" >
      
      <div class="row row-offcanvas row-offcanvas-right">
        <div class="col-md-8 col-md-offset-2">
          <div class="header">
            <h1>Home</h1>
          </div>
          <!-- <div class="well"> -->
            <h3 id =>Welcome</h3>
            <p>
              Welcome to the ExplorViz build-service. 
              This application helps you to easily configure and build new combinations and different versions of ExplorViz and it's extensions.
            </p>
            <p>This omits the need of installing the different frameworks for building ExplorViz.
               Furthermore you don't have to browse through all repositories anymore to get all dependencies.
            </p>
            
            <h3>Instructions</h3>
            <p>
              On the next page simply click the extension icons to add an extension to the current build list. 
              Missing dependencies are highlighted with a yellow border. Incompatible extensions are marked with a red border.
              Once the build is valid you can click the continue button to request the building of the chosen configuration.
            </p>
            <a id="getGitRepoButton" href="/config" class="btn btn-s btn-default">Start configuration</a>
          <!-- </div> -->
        </div>
      </div>
      </div>
    </div>
  </div>
</body>
<script src='js/index.js'></script>
</html>