
.navbar-left img {
  float: left;
  width: 200px;
  height: 50px;
  border: solid 3px rgba(104,104,104,.9);
}

body {
  background: #e2eeff !important;
}

.main-container {
  background: white !important;
  padding-right: 0px;
  padding-left: 0px;
  padding-bottom: 15px;
  margin-bottom: 30px;
  margin-top: 30px;
}

.navbar {
  background: rgba(104,104,104,.9);
  width: 100%;
}

.navbar li a {
  color: white;
  font-weight: bold;
}

.navbar-nav > li > a:hover {
  background: rgba(104,104,104,.9);
  color: #0fd0f9
}

.navbar-nav > .active > a {
  color: #0fd0f9
}

.header {
  margin-top: 0px;
  margin-bottom: 14px;
  border-bottom: 1px solid #eee;
}

.header > h1 {
  margin-top: 0px;
}

.img-container {
  background-color: #555;
  padding: 5px;
  margin-top: 20px;
}

.extension-div {
  border: 2px solid  rgb(46, 46, 46);
  border-radius: 15px;
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: 5px;
}

.extension-button {
  border-radius: 15px;
  width: 100%;
  height: 100%;
  background-color: white;
}


.extension-img {
  border-radius: 15px;
  width: 100%;
  height: auto;
}

.required{
  border: 2px solid  rgb(235, 164, 11);
}

.selected{
  border: 2px solid  rgb(32, 197, 17);
}

.incompatible{
  border: 2px solid  rgb(226, 8, 8);
}

.incompatible.selected {
  box-shadow: 4px 4px rgb(226, 8, 8);
  border: 2px solid  rgb(32, 197, 17);
}

.hovered{
  border: 2px solid  #0fd0f9;
}

.incompatible.selected.hovered {
  box-shadow: 4px 4px rgb(226, 8, 8);
  border: 2px solid #0fd0f9;
}

.scrollable-list {
  height:auto;
  overflow-y:auto;
  max-height:66%;
}

.scrollable {
  height:76%;
  overflow-y: auto;
  overflow-x: hidden;
  max-height:76%;
}

.scrollable .dropdown {
  overflow-x: visible;
}